@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
.foto{
    background-image: url("http://4.bp.blogspot.com/-5p3GLl1P5Lg/Vm2WyubcQyI/AAAAAAAAWPo/apbb9hyj3Yw/s1600/Empresarios-millonarios-exitosos.jpg");
    padding-top: 6rem;
     padding-bottom: 0rem;
}

</style>
<section class="mbr-section mbr-section-full mbr-parallax-background mbr-after-navbar foto" id="header2-1x " data-rv-view="71">
    <div class="mbr-table-cell">
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1">Administrator</h1>
                    <p class="lead">You are the MV company manager wisely use your powers</p>
                   
                    <div class="mbr-buttons--center">
                          <a class="btn btn-lg btn-warning"  href="~/Users/List">Sign Out</a>
   
                    </div>
                </div>
            </div>
        </div>
        <a class="mbr-arrow" href="#pricing-table1-1y"><i class="fa fa-angle-down"></i></a>
    </div>
</section>

<section class="mbr-section mbr-section-small" id="pricing-table1-1y" data-rv-view="74" style="background-color: rgb(255, 255, 255); padding-top: 1.5rem; padding-bottom: 1.5rem;">
    

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-xs-center">
                    <div class="card-header bg-success">&nbsp;Meeting</div>
                 
                    <div><ul class="list-group list-group-flush"><li class="list-group-item"><strong>See all registered</strong></li></ul></div>
                    <div class="card-block"><a href="~/Meetings/Index" class="btn btn-primary-outline btn-primary">GO</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-xs-center">
                    <div class="card-header bg-warning">Client</div>
                    
                    <div><ul class="list-group list-group-flush"><li class="list-group-item"><strong>See all registered</strong></li></ul></div>
                    <div class="card-block"><a  href= "~/Clients/Index "   class="btn btn-danger-outline btn-danger">GO</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-xs-center">
                    <div class="card-header bg-danger">Tickets</div>
     
                    <div><ul class="list-group list-group-flush"><li class="list-group-item"><strong>See all registered</strong></li></ul></div>
                    <div class="card-block"><a href="~/Tickets/Index" class="btn btn-warning-outline btn-warning">GO</a></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card text-xs-center">
                    <div class="card-header bg-primary">Contact</div>
               
                    <div><ul class="list-group list-group-flush"><li class="list-group-item"><strong>See all registered</strong></li></ul></div>
                    <div class="card-block"><a href="~/Contacts/Index" class="btn btn-success-outline btn-success">GO</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
