@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);








#dropdown-menu-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1o .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-1o .nav .link,
#dropdown-menu-1o .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-1o .navbar,
#dropdown-menu-1o .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1o .dropdown-menu a:hover,
#dropdown-menu-1o .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-1o .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-1o .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#msg-box4-1p .lead P {
  font-family: 'Droid Sans', sans-serif;
}
#msg-box4-1p .mbr-section-title {
  font-family: 'Droid Sans', sans-serif;
}
#msg-box4-1p .btn {
  font-family: 'Raleway', sans-serif;
}
#features1-1r B {
  font-family: 'Roboto', sans-serif;
}
#features1-1r H4 {
  font-family: 'Roboto Condensed', sans-serif;
}








#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-9 .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-9 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#msg-box4-b .lead P {
  font-family: 'Droid Sans', sans-serif;
}
#msg-box4-b .mbr-section-title {
  font-family: 'Droid Sans', sans-serif;
}
#msg-box4-b .btn {
  font-family: 'Raleway', sans-serif;
}
#features1-g B {
  font-family: 'Roboto', sans-serif;
}
#features1-g H4 {
  font-family: 'Roboto Condensed', sans-serif;
}





#dropdown-menu-1s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1s .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-1s .nav .link,
#dropdown-menu-1s .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-1s .navbar,
#dropdown-menu-1s .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-1s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1s .dropdown-menu a:hover,
#dropdown-menu-1s .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-1s .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-1s .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#msg-box4-1u .lead {
  font-family: 'Droid Sans', sans-serif;
}
#msg-box4-1u .mbr-section-title {
  font-family: 'Droid Sans', sans-serif;
  font-size: 60px;
  color: #d9534f;
}



#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-12 .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-12 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}





#dropdown-menu-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1w .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-1w .nav .link,
#dropdown-menu-1w .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-1w .navbar,
#dropdown-menu-1w .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1w .dropdown-menu a:hover,
#dropdown-menu-1w .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-1w .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-1w .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#header2-1x .btn {
  font-family: 'Roboto Slab', serif;
}
#header2-1x H1 {
  font-family: 'Droid Sans', sans-serif;
  color: #000000;
  text-align: center;
}





#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .navbar-brand a {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1em;
  color: #fbfbfb;
  font-family: 'Droid Sans', sans-serif;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-20 .navbar-toggler {
  color: #fbfbfb;
}
#dropdown-menu-20 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#header2-21 .btn {
  font-family: 'Droid Sans', sans-serif;
}
#header2-21 H1 {
  font-family: 'Droid Sans', sans-serif;
  color: #000000;
  text-align: center;
}
